In [28]:
df.head()

   PassengerId  Survived  ...  Cabin Embarked
0            1         0  ...    NaN        S
1            2         1  ...    C85        C
2            3         1  ...    NaN        S
3            4         1  ...   C123        S
4            5         0  ...    NaN        S

[5 rows x 12 columns]

In [33]:
import pandas as pd

df = pd.read_csv("train.csv")
pd.set_option('display.max_columns', None)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S